<div id="sec-carousel" class="sec-carousel">
    <div class="inner-list">
        <div class="item active" style="display: block;">
            <h1 class="main-header">Dig In To Big Data</h1>

            <p class="main-description">
                Learn the ins and outs of data - BI, Data Science, Sharepoint, Hadoop, and more - at EPAM's largest software engineering conference.
            </p>
        </div>
        <div class="item">
            <h1 class="main-header">Hello!!!</h1>

            <p class="main-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            </p>
        </div>
        <div class="item">
            <h1 class="main-header">Checking!</h1>

            <p class="main-description">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt.
            </p>
        </div>
    </div>
    <div class="prev-control">
        <img src="images/icons/chevron-left.png" />
    </div>
    <div class="next-control">
        <img src="images/icons/chevron-right.png" />
    </div>
</div>
