<div id="sec-speakers" class="sec-speakers">
    <a name="speakers"></a>

    <div id="sec-speakers-stage1" class="stage1 hidden" style="display: none;">
        <h3>The Speakers</h3>

        <p class="main-description">
            Learn about EPAM’s innovative work and solutions around the globe from expert EPAMers and industry thought leaders. Speakers from within EPAM are invited to participate in SEC, and then invited to represent the company at external conferences as well.
        </p>
        <p class="main-description">
            This combination of internal and external experts creates talks, workshops, panel discussions and more to reveal the future of the digital landscape.
        </p>
    </div>

    <div id="sec-speakers-stage2" class="stage2">
        <h3>Key Speakers</h3>

        <div class="wrapper">
            <div class="tbl remove-space-between-blocks">
                <div class="cell">
                    <img src="images/photos/speaker.png" />
                    <div class="bottom-title">Lorem Ipsum</div>
                    <div class="speaker-description">
                        <p class="speaker-name">William Flannery</p>
                        <p class="speaker-position">Vice President</p>
                        <p class="speaker-position">Advanced Technology at</p>
                        <p class="speaker-position">Wolters Kluwer</p>
                    </div>
                </div>
                <div class="cell">
                    <img src="images/photos/speaker.png" />
                    <div class="bottom-title">Lorem Ipsum</div>
                    <div class="speaker-description">
                        <p class="speaker-name">William Flannery</p>
                        <p class="speaker-position">Vice President</p>
                        <p class="speaker-position">Advanced Technology at</p>
                        <p class="speaker-position">Wolters Kluwer</p>
                    </div>
                </div>
                <div class="cell">
                    <img src="images/photos/speaker.png" />
                    <div class="bottom-title">Lorem Ipsum</div>
                    <div class="speaker-description">
                        <p class="speaker-name">William Flannery</p>
                        <p class="speaker-position">Vice President</p>
                        <p class="speaker-position">Advanced Technology at</p>
                        <p class="speaker-position">Wolters Kluwer</p>
                    </div>
                </div>
                <div class="cell">
                    <img src="images/photos/speaker.png" />
                    <div class="bottom-title">Lorem Ipsum</div>
                    <div class="speaker-description">
                        <p class="speaker-name">William Flannery</p>
                        <p class="speaker-position">Vice President</p>
                        <p class="speaker-position">Advanced Technology at</p>
                        <p class="speaker-position">Wolters Kluwer</p>
                    </div>
                </div>
                <div class="cell">
                    <img src="images/photos/speaker.png" />
                    <div class="bottom-title">Lorem Ipsum</div>
                    <div class="speaker-description">
                        <p class="speaker-name">William Flannery</p>
                        <p class="speaker-position">Vice President</p>
                        <p class="speaker-position">Advanced Technology at</p>
                        <p class="speaker-position">Wolters Kluwer</p>
                    </div>
                </div>
                <div class="cell">
                    <img src="images/photos/speaker.png" />
                    <div class="bottom-title">Lorem Ipsum</div>
                    <div class="speaker-description">
                        <p class="speaker-name">William Flannery</p>
                        <p class="speaker-position">Vice President</p>
                        <p class="speaker-position">Advanced Technology at</p>
                        <p class="speaker-position">Wolters Kluwer</p>
                    </div>
                </div>
                <div class="cell">
                    <img src="images/photos/speaker.png" />
                    <div class="bottom-title">Lorem Ipsum</div>
                    <div class="speaker-description">
                        <p class="speaker-name">William Flannery</p>
                        <p class="speaker-position">Vice President</p>
                        <p class="speaker-position">Advanced Technology at</p>
                        <p class="speaker-position">Wolters Kluwer</p>
                    </div>
                </div>
                <div class="cell">
                    <img src="images/photos/speaker.png" />
                    <div class="bottom-title">Lorem Ipsum</div>
                    <div class="speaker-description">
                        <p class="speaker-name">William Flannery</p>
                        <p class="speaker-position">Vice President</p>
                        <p class="speaker-position">Advanced Technology at</p>
                        <p class="speaker-position">Wolters Kluwer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
