<div class="sec-speakers">
    <div class="first" style="display: none;">
        <h3>The Speakers</h3>

        <p class="main-description">
            Learn about EPAM’s innovative work and solutions around the globe from expert EPAMers<br />
            and industry thought leaders. Speakers from within EPAM are invited to participate in SEC,<br />
            and then invited to represent the company at external conferences as well.
        </p>
        <p class="main-description">
            This combination of internal and external experts creates talks, workshops, panel<br />
            discussions and more to reveal the future of the digital landscape.
        </p>
    </div>

    <div class="second">
        <h3>Key Speakers</h3>

        <div class="wrapper">
            <div class="tbl">
                <div class="cell">
                    <img src="/images/photos/speaker.png" />
                    <div class="bottom-title" style="display: none;">Lorem Ipsum</div>
                    <div class="speaker-name">William Flannery</div>
                    <div class="speaker-position">
                        <p>Vice President</p>
                        <p>Advanced Technology at</p>
                        <p>Wolters Kluwer</p>
                    </div>
                </div>
                <div class="cell">
                    <img src="/images/photos/speaker.png" />
                    <div class="bottom-title">Lorem Ipsum</div>
                </div>
                <div class="cell">
                    <img src="/images/photos/speaker.png" />
                    <div class="bottom-title">Lorem Ipsum</div>
                </div>
                <div class="cell">
                    <img src="/images/photos/speaker.png" />
                    <div class="bottom-title">Lorem Ipsum</div>
                </div>
                <div class="cell">
                    <img src="/images/photos/speaker.png" />
                    <div class="bottom-title">Lorem Ipsum</div>
                </div>
                <div class="cell">
                    <img src="/images/photos/speaker.png" />
                    <div class="bottom-title">Lorem Ipsum</div>
                </div>
                <div class="cell">
                    <img src="/images/photos/speaker.png" />
                    <div class="bottom-title">Lorem Ipsum</div>
                </div>
                <div class="cell">
                    <img src="/images/photos/speaker.png" />
                    <div class="bottom-title">Lorem Ipsum</div>
                </div>
            </div>
        </div>
    </div>
</div>
