@import "../../content/styles/variables/colors.less";
@import "../../content/styles/mixins/mixins.less";

.sec-speakers {
    padding: 94px 0 55px 0;
    text-align: center;
    color: @graphite;
    background-color: @white;

    .main-description {
        .main-description(@sec-speakers-main-description-margin, @sec-speakers-main-description-font-size, @sec-speakers-main-description-line-height);
    }

    .tbl {
        .remove-space-between-blocks();
        margin: 42px -10px 34px -10px;

        .cell {
            .col-common();
            width: 25%;
            padding: @sec-speakers-cell-padding;
            box-sizing: border-box;
            position: relative;
            overflow: hidden;

            &:hover {
                .bottom-title {
                    display: none;
                }

                .speaker-description {
                    transition: all 0.4s linear;
                    .block-absolute(@sec-speakers-cell-padding, @sec-speakers-cell-padding, @sec-speakers-cell-padding, @sec-speakers-cell-padding);
                }
            }

            img {
                width: 100%;
                height: auto;
            }

            .bottom-title {
                padding: 15px 0 17px 0;
                .block-absolute(none, @sec-speakers-cell-padding, @sec-speakers-cell-padding, @sec-speakers-cell-padding);
                background-color: @fade-color;
                color: @white;
                font-family: 'Source Sans Pro Bold';
                font-size: 20px;
                .text-ellipsis();
            }

            .speaker-description {
                padding-top: 40%;
                .block-absolute(100%, @sec-speakers-cell-padding, 0, @sec-speakers-cell-padding);
                background-color: @fade-color;
                overflow: hidden;
            }

            .speaker-name {
                margin: 8px 0;
                color: @white;
                font-family: 'Source Sans Pro Bold';
                font-size: 22px;
                .text-ellipsis();
            }

            .speaker-position {
                color: @blue;
                font-family: 'Oswald Regular';
                font-size: 17px;
                line-height: 20px;
                .text-ellipsis();
            }
        }
    }
}
