@import "../../content/styles/variables/colors.less";
@import "../../content/styles/mixins/mixins.less";

.sec-speakers {
    padding: 94px 0 55px 0;
    text-align: center;
    color: @graphite;
    background-color: @white;

    .main-description {
        .main-description(@sec-speakers-main-description-margin, @sec-speakers-main-description-font-size, @sec-speakers-main-description-line-height);
    }

    .tbl {
        .remove-space-between-blocks();
        margin: 42px -10px 34px -10px;

        .cell {
            .col-common();
            width: 25%;
            padding: 11px;
            box-sizing: border-box;
            position: relative;

            img {
                width: 100%;
                height: auto;
            }

            .bottom-title {
                position: absolute;
                bottom: 11px;
                left: 11px;
                right: 11px;
                background-color: rgba(0, 0, 0, 0.6);
                color: @white;
                padding: 15px 0 17px 0;
                font-family: 'Source Sans Pro Bold';
                font-size: 20px;
                text-overflow: ellipsis;
                max-height: 30%;
                overflow: hidden;
                white-space: nowrap;
            }

            .speaker-name {
                position: absolute;
                top: 11px;
                left: 11px;
                right: 11px;
                bottom: 50%;
                background-color: rgba(0, 0, 0, 0.6);
                color: @white;
                font-family: 'Source Sans Pro Bold';
                font-size: 20px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                vertical-align: bottom;
            }

            .speaker-position {

            }
        }
    }
}
