<div class="sec-speakers">
    <h3>The Speakers</h3>

    <p class="main-description">
        Learn about EPAM’s innovative work and solutions around the globe from expert EPAMers<br />
        and industry thought leaders. Speakers from within EPAM are invited to participate in SEC,<br />
        and then invited to represent the company at external conferences as well.
    </p>
    <p class="main-description">
        This combination of internal and external experts creates talks, workshops, panel<br />
        discussions and more to reveal the future of the digital landscape.
    </p>
</div>
