<div class="sec-bspot">
    <a name="bspot"></a>

    <h3>St. Petersburg | November 22, 2014</h3>

    <p class="main-description">
        Join us in St. Petersburg on November 22, 2014 for the EPAM Engineering Conference. Network and brainstorm with the smartest engineers in the world, discovering new ways to solve the latest challenges in the industry. Share your interest and passion with EPAMers like you.
    </p>

    <div class="tbl remove-space-between-blocks">
        <div class="col col1">
            <div class="cell row-2">
                <img src="images/icons/bspot/1-day.png" />
            </div>
            <div class="cell row-2">
                <img src="images/icons/bspot/1-workshop.png" />
            </div>
            <div class="cell row-2">
                <img src="images/icons/bspot/11expert-panelists.png" />
            </div>
        </div>

        <div class="col col2">
            <div class="cell row-3">
                <img src="images/icons/bspot/40-presentations.png" />
            </div>
            <div class="cell row-3">
                <img src="images/icons/bspot/400-visitors.png" />
            </div>
        </div>

        <div class="col col3">
            <div class="cell row-4">
                <img src="images/icons/bspot/42-speakers.png" />
            </div>
            <div class="cell row-2">
                <img src="images/icons/bspot/5-tracks.png" />
            </div>
        </div>
    </div>
</div>
