{
	"extends": "eslint:recommended",
	"rules": {
		"brace-style": [ 2, "stroustrup", { "allowSingleLine": true } ],
		"comma-style": [ 2, "last" ],
		"default-case": 2,
		"dot-location": [ 2, "property" ],
		"indent": [ 2, 4 ],
		"linebreak-style": [ 2, "windows" ],
		"no-else-return": 2,
		"no-extra-parens": 2,
		"no-throw-literal": 2,
		"no-unexpected-multiline": 2,
		"no-unused-vars": [ 2, { "vars": "all", "args": "none" } ],
		"no-use-before-define": [ 2, "nofunc" ],
		"quotes": [ 2, "single", "avoid-escape" ],
		"radix": 2,
		"semi": [ 2, "always" ],
		"wrap-iife": [ 2, "outside" ]
	},
	"env": {
		"browser": true
	}
}
