@import "colors.less";

@wrapper-width: 1200px;

@label-height: 20px;

@sec-header-height: 84px;
@sec-header-font-height: 19px;
@sec-header-menu-items-interval: 40px;

@sec-aspot-main-description-margin: 25px;
@sec-aspot-main-description-font-size: 29px;
@sec-aspot-main-description-line-height: 40px;

@sec-bspot-row-height: 73px;
@sec-bspot-main-description-margin: 36px;
@sec-bspot-main-description-font-size: 26px;
@sec-bspot-main-description-line-height: 34px;
@sec-bspot-tbl-border-left: 1px solid rgba(255, 255, 255, 0.3);
@sec-bspot-tbl-border-right: 1px solid rgba(255, 255, 255, 0.3);

@sec-event-tbl-border: 1px solid @light-gray;
@sec-event-main-description-margin: 36px;
@sec-event-main-description-font-size: 26px;
@sec-event-main-description-line-height: 34px;

@sec-speakers-main-description-margin: 36px;
@sec-speakers-main-description-font-size: 26px;
@sec-speakers-main-description-line-height: 34px;

@sec-join-us-main-description-margin: 36px;
@sec-join-us-main-description-font-size: 26px;
@sec-join-us-main-description-line-height: 34px;
