@import "../../content/styles/variables/colors.less";
@import "../../content/styles/variables/sizes.less";
@import "../../content/styles/mixins/mixins.less";

.sec-aspot {
    padding: 70px 0 0 0;
    text-align: center;
    color: @white;
    background: url("/images/backgrounds/aspot.png") no-repeat;
    background-size: cover;

    .main-header {
        margin: 0 30px 0 0;
    }

    .main-description {
        margin: 25px auto;
        font-size: 30px;
        line-height: 40px;
    }

    .divider {
        margin: 70px 0 60px 0;
        height: 1px;
        width: 100%;
        background-color: @white;
        opacity: 0.3;
    }

    .reg-button {
        .remove-space-between-blocks();
        display: inline-block;
        margin: 30px 0 125px 0;
    }
}
