<div class="sec-aspot">
    <a name="aspot"></a>

    <img class="logo" src="images/logos/aspot-logo.png" alt="SEC Fall 2014"/>

    <div class="logo-header">
        <h5>EPAM Software Engineering Conference</h5>
    </div>

    <div class="divider"></div>



    //= ../carousel/carousel.html



    <div id="aspot-reg-button" class="reg-button remove-space-between-blocks">
        <a href="#registration">
            <button class="btn lime-green">
                Register
            </button>
            <button class="btn-addon-arrow-right"></button>
        </a>
    </div>

    <div class="label">
        <div class="label-left-part blue"></div>
        <div class="label-right-part blue"></div>
    </div>
</div>
