@import "../../content/styles/variables/colors.less";
@import "../../content/styles/variables/sizes.less";
@import "../../content/styles/mixins/mixins.less";

.sec-aspot {
    padding: 70px 0 0 0;
    text-align: center;
    color: @white;
    background: url("/images/backgrounds/aspot.png") no-repeat;
    background-size: cover;

    .main-header {
        margin: 0 30px 0 0;
    }

    .main-description {
        .main-description(@sec-aspot-main-description-margin, @sec-aspot-main-description-font-size, @sec-aspot-main-description-line-height);
    }

    .reg-button {
        .remove-space-between-blocks();
        display: inline-block;
        margin: 30px 0 125px 0;
    }
}
