<div class="sec-aspot">
    <img src="/images/logos/aspot-logo.png" alt="SEC Fall 2014"/>

    <h5>EPAM Software Engineering Conference</h5>

    <div class="divider"></div>

    <h1 class="main-header">Dig In To Big Data</h1>

    <p class="main-description">
        Learn the ins and outs of data - BI, Data Science, Sharepoint, Hadoop,<br/>
        and more - at EPAM's largest software engineering conference.
    </p>

    <div class="reg-button">
        <button class="btn lime-green">
            Register
        </button>
        <button class="btn-addon-arrow-right">
        </button>
    </div>

    <div class="label">
        <div class="label-left-part blue"></div>
        <div class="label-right-part blue"></div>
    </div>
</div>
