@import "../../content/styles/variables/colors.less";

.sec-join-us {
    padding: 147px 0 111px 0;
    text-align: center;
    color: @white;
    background: url("/images/backgrounds/join-us.png") no-repeat;
    background-size: cover;

    .main-header {
        margin: 0 30px 0 0;
    }

    .main-description {
        margin: 36px auto;
        font-size: 26px;
        line-height: 34px;
    }
}
