<div id="reg-form-container" class="sec-registation hidden" style="display: none;">
    <a name="registration"></a>

    <div class="wrapper clearfix">
        <i id="reg-form-close-btn" class="icon close clickable right"></i>
    </div>

    <div class="sec-registation-header">
        <h3>Registration</h3>
    </div>

    <p>Please use your EPAM credentials to register for this event.</p>

    <form class="sec-registation-form">
        <div class="input-fields">
            <input type="text" placeholder="Name*"/>
            <input type="text" placeholder="Surname*"/>
            <input type="text" placeholder="Title*"/>
            <input type="text" placeholder="Email*"/>
        </div>

        <div class="remove-space-between-blocks">
            <button class="btn lime-green">
                Submit
            </button>
            <button class="btn-addon-arrow-right"></button>
        </div>
    </form>
</div>
