@import "../../content/styles/variables/colors.less";
@import "../../content/styles/variables/sizes.less";
@import "../../content/styles/mixins/mixins.less";

.sec-registation {
    padding: 20px 0 70px 0;
    font-size: 24px;
    text-align: center;
    color: @white;
    background-color: @graphite;

    .sec-registation-header {
        padding: 18px 0;
    }

    .sec-registation-form {
        .input-fields {
            margin: 35px 0;
        }

        input {
            padding: 17px 14px 14px 13px;
            width: 240px;
            font-size: 14px;
            margin: 3px;
        }
    }
}

@media screen and (max-width: @mbl-max-width) {
    .sec-registation {
        padding: 20px 0 70px 0;
        font-size: 24px;
        text-align: center;
        color: @white;
        background-color: @graphite;

        .close {
            display: none;
        }

        .description {
            font-size: 17px;
            line-height: 20px;
            padding: 0 20px;
        }

        .sec-registation-header {
            padding: 15px 0;
        }

        .sec-registation-form {
            .input-fields {
                margin: 35px 0;
            }

            input {
                padding: 17px 14px 14px 13px;
                width: 240px;
                font-size: 14px;
                margin: 3px;
            }
        }
    }
}
