<header class="sec-header">
    <a name="top"></a>

    <div class="wrapper clearfix">

        <div class="logo left">
            <a href="#">
                <img src="images/logos/header-logo.png" alt="SEC Fall 2014"/>
            </a>
        </div>

        <ul id="mbl-header-menu" class="menu hidden" style="display: none;">
            <li>
                <a href="#">Agenda</a>
            </li>
            <li>
                <a href="#">Workshops</a>
            </li>
            <li>
                <a href="#speakers">Speakers</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Sign in</a>
            </li>
            <li>
                <button id="header-reg-btn" class="btn lime-green">
                    <i class="icon arrow-right"></i>
                    Register
                </button>
            </li>
        </ul>

        <div id="mbl-menu-icon" class="mbl-menu-icon clickable fa fa-bars">
        </div>

    </div>
</header>
