@import "../../content/styles/variables/colors";

.sec-header {
    height: 60px;
    border: 1px solid black;
    text-transform: uppercase;
    font-family: 'Oswald Regular';
    text-decoration: none;

    button {
        text-transform: uppercase;
        font-family: 'Oswald Regular';
    }
}

.nav-bar {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.logo {
    height: 100%;
    a {
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.menu {
    height: 100%;
    li {
        display: inline-block;
        a {
            color: @graphite;
        }
    }
}
