<header class="sec-header">
    <div class="nav-bar">
        <div class="logo left">
            <a href="#">
                <img src="/images/logos/header-logo.png" alt="SEC Fall 2014" />
            </a>
        </div>
        <ul class="menu right">
            <li>
                <a href="#">Agenda</a>
            </li>
            <li>
                <a href="#">Workshops</a>
            </li>
            <li>
                <a href="#">Speakers</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Sign in</a>
            </li>
            <li>
                <span class="btn lime-green">
                    <i class="icon arrow-down"></i>
                    Register
                </span>
            </li>
        </ul>
    </div>
</header>
