@import "../../content/styles/variables/colors.less";
@import "../../content/styles/variables/sizes.less";

.sec-header {
    height: @sec-header-height;
    text-transform: uppercase;
    font-family: 'Oswald Regular';
    font-size: 19px;
    text-decoration: none;
    background-color: @white;
    color: @graphite;

    .logo {
        height: 100%;

        a {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    .menu {
        li {
            display: inline-block;

            a {
                line-height: @sec-header-height;
            }

            a:hover {
                color: @dark-blue;
            }
        }

        li+li {
            padding-left: @sec-header-menu-items-interval;
        }
    }
}
