@import "variables/colors.less";
@import "variables/sizes.less";
@import "mixins/mixins.less";

body {
    font-family: "Source Sans Pro Regular";
}

a {
    text-decoration: none;
}

h1 {
    .h-common();
    font-size: 130px;
    letter-spacing: -5px;
}

h3 {
    .h-common();
    font-size: 38px;
}

h5 {
    .h-common(@font: "Source Sans Pro Semibold");
    font-size: 17px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clearfix {
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
}

.clickable {
    cursor: pointer;
}

.wrapper {
    width: @wrapper-width;
    height: 100%;
    margin: 0 auto;
}

.btn {
    .btn-common();
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    font-family: "Oswald Regular";
    font-size: 19px;
    line-height: 1;
    padding: 12px 30px;
    background: none;

    &.lime-green {
        background-color: @lime-green;
        color: @white;

        &:hover {
            background-color: @dark-green;
        }
    }
}

.btn-addon-arrow-right {
    .btn-common();
    padding: 29px 0 14px 0;
    vertical-align: bottom;
    width: 36px;
    background: @dark-green url("/images/icons/arrow-right.png") no-repeat;
    background-position: center center;
}

.icon {
    &:after {
        content: "";
        display: inline-block;
    }

    &.arrow-right:after {
        width: 18px;
        height: 15px;
        background: url("/images/icons/arrow-right.png") no-repeat;
        background-position: left center;
    }

    &.arrow-down:after {
        width: 18px;
        height: 15px;
        background: url("/images/icons/arrow-down.png") no-repeat;
        background-position: left center;
    }

    &.close:after {
        width: 31px;
        height: 31px;
        background: url("/images/icons/close.png") no-repeat;
        background-position: left center;
    }
}

.label {
    position: relative;
    display: block;
    width: 100%;
    height: @label-height * 2;

    .label-left-part {
        position: absolute;
        left: 0;
        width: ~"calc(50% - " @label-height ~")";
        border-top: @label-height solid transparent;
        border-right: @label-height solid transparent;

        &.blue {
            border-bottom: @label-height + 1px solid @blue;
        }
    }

    .label-right-part {
        position: absolute;
        right: 0;
        width: ~"calc(50% - " @label-height ~")";
        border-top: @label-height solid transparent;
        border-left: @label-height solid transparent;

        &.blue {
            border-bottom: @label-height + 1px solid @blue;
        }
    }
}
